.game-tooltip {
    background: var(--color-dark);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.game-tooltip::after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* Position at the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    /* Half the width of the border to center the arrow */
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-top-color: var(--color-dark);
}