/* Metrics bar styles */
.metrics-bar-container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 10px;
    background: var(--color-dark);
    color: white;
    flex-wrap: wrap;
    top: 0;
    /* Allow metrics to wrap on small screens */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.metric {
    text-align: center;
    min-width: 120px;
    position: relative;
    /* Context for positioning tooltip */
    display: inline-block;
    /* Allows the metric to be properly sized */
    margin: 0;
    padding: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--color-dark);
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--color-darker);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;

    /* Positioning */
    position: absolute;
    top: 110px;
    /* Adjust based on your layout */
    left: 50%;
    margin-left: -110px;
    /* Centers the tooltip */

    /* Fade in */
    opacity: 0;
    transition: opacity 0.3s;

    /* Necessary for arrow positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric.has-comparator .tooltip-text {
    top: 160px;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: -15px;
    /* Position at the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    /* Half the width of the border to center the arrow */
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--color-darker);
}

.metric:hover {
    cursor: pointer;
    /* Indicates interactive element */
    background: var(--color-darker);
    border-bottom-color: white;
}

.metric:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.metric-name {
    font-size: 0.95em;
    margin-bottom: 10px;
}

.metric-value {
    font-weight: bold;
    font-size: 1.45em;
}

.metric .comparator {
    margin-top: 10px;
    line-height: 1.1em;
}

.metric .comparator .delta {
    font-size: 0.85em;
    white-space: pre;
}

.metric .comparator .prior {
    font-size: 0.7em;
}

.metric .comparator .delta.better {
    color: var(--color-better);
}

.metric .comparator .delta.worse {
    color: var(--color-worse);
}

@media (max-width: 915px) {

    .metrics-bar-container {
        flex-direction: column;
        /* Stack metrics vertically on smaller screens */
        align-items: center;
        /* Center-align items for aesthetics */
        padding: 0;
    }

    .metric {
        flex-basis: 100%;
        /* Allow each metric to take full width */
        margin: 10px 0;
        /* Adjust spacing for vertical layout */
        box-sizing: border-box;
        width: 100%;
    }

    .metric-name,
    .metric-value {
        font-size: 1.2em;
        /* Slightly larger text for better readability on small screens */
    }

}